 @media only screen and (max-width: 1024px){
    .column {
        width: 100%;
    }
}

@media (max-width: 601px){
    .column {
        width: 100%;
    }
}

@import "colors";


* {
    padding: 0;
    margin: 0;
    
}

// home 

body {
    background-color: #F6F6F6;
}

#grid-container {
    display: grid;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    grid-template-columns: 1fr;
}

#header-container {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    background-color: #484A47;
    font-family: $font-palettes;
   
}

#content-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}

.logo-container {
    width: 50%;
    padding: 3vh 0;
}

.logo-image {
    width: 100%;
    
}

#phone-number {
    font-size: 1 rem;
    font-weight: bold;
    color: whitesmoke;
}

a {
    color: darksalmon;
    font-size: 1rem;
   
}


#left-column {
    width: 100%;
    float: left;

}

h1 {
    font-size: 2rem;
    font-family: $font-palettes;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

#right-column {
    width: 100%;
    float: right;

}

    
#footer-container {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #484A47;
    
}

#footer-text {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: $font-palettes;
    font-size: 1rem;
    color:whitesmoke;
    

}

// About-us 

#content-about-container {
    display: grid;
    grid-template-rows: 1fr;
  
  
}

.resto-container {
    width: 100%;
    padding: 3vh 0;
}

.resto-img {
    width: 100%;
    padding: 3vh 0;
    
}

p {
    font-family: $font-palettes;
    font-size: 1rem;
    color: black;
}

// Menu 


#menu-header-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-family: $font-palettes;
    font-size: 1rem;
    color: black;

}

#pizza-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
}

#pizza {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;

}

#pizza.menu:hover {
    border: 1px solid red;
}


#chicken-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}

#chicken {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}
#chicken.menu:hover {
    border: 1px solid red;
}

#pasta-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}

#pasta {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}
#pasta.menu:hover {
    border: 1px solid red;
}

#drinks-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}


#drinks {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}

img {
    width: 100%;
}
.name {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: $font-palettes;
    color: black;
}

.name:hover{
    color: blue;
}

.desc-1 {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: $font-palettes;
    color: black;
}


.line-column {
    display: grid;
    grid-template-rows: 1fr;
    background: skyblue;
}

.line-title {
    font-size: 16px;
    font-family: $font-palettes;
    text-align: left;
    
}





// location

#content-location-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 10vh auto;
    justify-items: center;
    align-items: center;
    
}

#opening-hours {
    font-family: $font-palettes;
    font-size: 20px;
    text-align: center;

}

#address {
    font-family: $font-palettes;
    font-size: 22px;
    text-align: center;
}

iframe {
    width: 65vw;
    height: 50vh;
    margin-top: -5px;
    

}