@media only screen and (max-width: 1024px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 601px) {
  .column {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F6F6F6;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  background-color: #484A47;
  font-family: sans-serif;
}

#content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container {
  width: 20%;
  padding: 3vh 0;
}

.logo-image {
  width: 75%;
  margin-left: 7.5%;
}

#phone-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
}

a {
  color: darksalmon;
  font-size: 1rem;
}

#footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: #484A47;
}

#footer-text {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
}

#content-about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.resto-container {
  width: 100%;
  padding: 3vh 0;
}

.resto-img {
  width: 100%;
  padding: 3vh 0;
}

#about-desc {
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
}

#menu-header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
}

#pizza-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pizza {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

#pizza.menu:hover {
  border: 1px solid red;
}

#chicken-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chicken {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

#chicken.menu:hover {
  border: 1px solid red;
}

#pasta-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pasta {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

#pasta.menu:hover {
  border: 1px solid red;
}

#drinks-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#drinks {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

#drinks.menu:hover {
  border: 1px solid red;
}

img {
  width: 100%;
}

.name {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
}

.name:hover {
  color: blue;
}

.desc-1 {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
}

#p1 {
  display: -ms-grid;
  display: grid;
  background-color: yellow;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
/*# sourceMappingURL=style.css.map */