 @media only screen and (max-width:1024px){
    .column {
        width: 100%;
    }
}

@media (max-width: 601px){
    .column {
        width: 100%;
    }
}

@import "colors";


* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #F6F6F6;
}

#grid-container {
    display: grid;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    grid-template-columns: 1fr;
}

#header-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    background-color: #484A47;
    font-family: $font-palettes;
   
}

#content-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    
}

.logo-container {
    width: 20%;
    padding: 3vh 0;
}

.logo-image {
    width: 75%;
    margin-left: 7.5%;
}

#phone-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}

a {
    color: darksalmon;
    font-size: 1rem;
   
}

#footer-container {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #484A47;
    
}

#footer-text {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: $font-palettes;
    font-size: 1rem;
    color: black;
    

}

// About-us 

#content-about-container {
    display: grid;
    grid-template-rows: 1fr;
  
  
}

.resto-container {
    width: 100%;
    padding: 3vh 0;
}

.resto-img {
    width: 100%;
    padding: 3vh 0;
    
}

#about-desc {
    font-family: $font-palettes;
    font-size: 1rem;
    color: black;
}

// Menu 


#menu-header-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-family: $font-palettes;
    font-size: 1rem;
    color: black;

}


#pizza-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}



#pizza {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
    
}
#pizza.menu:hover {
    border: 1px solid red;
}


#chicken-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}

#chicken {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}
#chicken.menu:hover {
    border: 1px solid red;
}

#pasta-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}

#pasta {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}
#pasta.menu:hover {
    border: 1px solid red;
}

#drinks-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}


#drinks {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}
#drinks.menu:hover {
    border: 1px solid red;
}

img {
    width: 100%;
    
}

.name {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: $font-palettes;
    color: black;
}

.name:hover{
    color: blue;
}
.desc-1 {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: $font-palettes;
    color: black;
}

#p1 {
    display: grid;
    background-color: yellow;
    width: 100%;
    font-size: 16px;
    font-family: $font-palettes;
    justify-content: left;
}
