@import "colors";
  

@media screen and (min-width: 375px) {
    #header-container {
        width: 100%;
    }

}

* {
    padding: 0;
    margin: 0;
    
}

// home 

body {
    background-color: beige;
}

#grid-container {
    display: grid;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    grid-template-columns: 1fr;
    
}

#header-container {
    display: grid;
    grid-template-rows: 15vh 5vh 5vh 5vh 5vh;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    position: sticky;
    background-color: #484A47;
   
}

#content-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

a {
    font-family: $font-palettes;
    font-weight: normal;;
    color: darksalmon;
    font-size: 1.5rem;
   
}

#menu-container a:hover {
    background-color: chocolate;
    color: white;
    
}

#about-container a:hover {
    background-color: chocolate;
    color: white;
    
}

#location-container a:hover {
    background-color: chocolate;
    color: white;
    
}

#logo-container  {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.logo-image {
    height: 15vh;
    width: 35%;
    padding-top: 10px;
    margin-left: 120px;
}


#phone-number {
    font-size: 1 rem;
    font-weight: bold;
    color: whitesmoke;
}

#content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

#left-column {
    width: 100%;
    float: left;
}


h1 {
    font-size: 24px;
    font-family: $font-palettes;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    
}

h2 {
    font-size: 18px;
    font-family: $font-palettes;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    
    
}

.explore {
    background-color: #F2D398;
    width: 50vw;
    padding: 5px;
    margin: 5px;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
}


#right-column {
    width: 100%;
    height: 70%;
    
    
    
}


#content-container img { 
    width: 50vw;
    height: 80vh;
    margin-left: 20px;
    float: right;

}


#footer-container {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #484A47;
    
}


.footer-text {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: $font-palettes;
    font-size: 1rem;
    text-align: center;
    color: white;
    
}

// About-us 

#content-about-container {
    width: 100vw;
    height: auto;
   
}

.resto-container {
    width: 100%;
    padding: 3vh 0;
}

#content-about-container .resto-container iframe {
    width: 90vw;
    height: 30vh;
    margin-left: 20px;
    border-radius: 15px;
}


.resto-img {
    width: 50%;
    float: right;
    border-radius: 25px;
    margin-right: 5px;
}

#about-video p {
    font-family: $font-palettes;
    text-align: unset;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
    color: black;
}

#gallery img {
    width: 150px;
    height: 150px;
    padding: 3px;
    border-radius: 20px;
    margin-left: 20px;
    
}

// Menu 

#menu-header-container {
    display: grid;
    grid-template-rows: 1fr;
    width: 100vw;
    justify-items: center;
    align-items: center;
    font-family: $font-palettes;
    font-size: 18px;
    color: black;

}

#pizza-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 5px;
    margin: 10px;
    justify-items: center;
    align-items: center;
}

.pizza {
    display: grid;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}

#pizza-menu img {
    width: 100%;
    border-radius: 10px;
}

#pasta-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.pasta {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}

#pasta-menu img {
    width: 100%;
    border-radius: 10px;
}

#chicken-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 5px;
    column-gap: 5px;
    justify-items: center;
    align-items: center;
}

.chicken {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}


#chicken-menu img {
    width: 100%;
    border-radius: 10px;
}


#beverages-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 5px;
    column-gap: 5px;
    justify-items: center;
    align-items: center;
}

.beverages {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    
}

#beverages-menu img {
    width: 100%;
    border-radius: 10px;
}


#content-menu-container .name {
    padding: 10px;
    text-align: justify;
    font-size: 16px;
    font-family: $font-palettes;
    font-weight: bold;
    color: black;
}

#content-menu-container .name:hover{
    color: #DE1A1A;
}

.desc-1 {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: $font-palettes;
    color: black;
}

.widget-title {
    margin-top: 5px; 
    margin-left: 10px;
}

h3 {
    background-color: #f2d398;
    font-family: $font-palettes;
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    color: black;
}


.button {
    background-color: #F2D398;
    padding: 5px;
    margin: 5px;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;

}

// location

#content-location-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 10vh auto;
    justify-items: center;
    align-items: center;
    
}

#opening-hours p {
    font-family: $font-palettes;
    font-size: 18px;
    text-align: center;

}

#address {
    font-family: $font-palettes;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    
}

#content-location-container .mapouter .gmap_canvas iframe {
    width: 90vw;
    height: 45vh;
    margin-bottom: 10px;
    border-radius: 10px; 

}

a[href*="tel:"] {
    cursor: default;
}


@media (min-width: 1020px) {
    #header-container {
        width: 100%;
    }
    #menu-header-container {
        width: 100%;
    }
}  
